$bpDesktop: 1440px;
$bpLaptop: 1199px;
$bpTablet: 991px;
$bpMobile: 768px;
$bpPhone: 550px;

// set font
$baseFont: "Roboto", "Arial", sans-serif;

// set setting color
$pageColor: #FCFCFC;
$primaryColor: #CA0D16;
