.header {
  background: #000;
  padding: 38px 0;

 &__wrapper {
   display: flex;
   align-items: center;
   justify-content: space-between;
 }


  .link-favorites {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 18px;

    .image {
      width: 23px;
      margin-right: 10px;
    }
  }
}
